html{
    height: 100%;
}

body{
    font-family: 'Source Code Pro', monospace;
    background: #f7f6f5;
    color: #212429;
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

h1{
    margin: 0;
    padding: 10px;
    background: #212429;
    color: #f7f6f5;
}

.wait-for-1-second{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

#core-cell{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    overflow-y: auto;
    width: calc(100% - 220px);
    padding: 0 0 0 20px;
}

#navigation-cell{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    width: 200px;
    padding: 0;
}

.navigation {
    width: inherit;
}

.navigation a {
    text-align: right;
    background: #f7f6f5;
    color: inherit;
    display: block;
    padding: 6px;
    text-decoration: none;
    border-right: 2px solid #212429;
}

.navigation a:hover {
    border-color: #3090C7;
    cursor: pointer;
}

.navigation a.active {
    color: #3090C7;
    border-color: #3090C7;
}

.navigation-top{
    display: block;
    padding: 6px;
    height: 10px;
    border-right: 2px solid #212429;
}

.navigation-bottom {
    display: block;
    padding: 6px;
    height: 150px;
    border-right: 2px solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#212429), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(#212429, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(#212429, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(#212429, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to bottom, #212429, rgba(0, 0, 0, 0)) 1 100%;
}

.social {
    text-align: center;
    font-size: 2.5em;
    color: #f7f6f5;
    overflow: hidden;
    position: fixed;
    top: 5px;
    right: 4px;
}
.social a {
    color: inherit;
    text-decoration: none;
    float: right;
}
.social i {
    margin: .3em;
    cursor: pointer;
    transition: color 300ms ease, margin-top 300ms ease;
}
.social i:hover {
    margin-top: -1px;
    color: #3090C7;
}

.tab-content{
    display: none;
    z-index: -10;
    height: 100%;
}

.block-cell{
    display: block;
    float: left;
    height: 100%;
}

#content-table{
    height: calc(100% - 60px);
    width: 100%;
}