html{
    height: 100%;
}

body{
    font-family: 'Source Code Pro', monospace;
    background: #31363B;
    color: #212429;
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

h1{
    margin: 0;
    padding: 10px;
    background: #212429;
    color: #f7f6f5;
    z-index: 2;
}

tbody{
    height: 100%;
    display: inherit;
}

tr{
    height: 100%;
    display: inherit;
}

#header-back{
    background: #212429;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    z-index: 1;
}

#content-table{
    display: block;
    height: calc(100% - 60px);
    width: 100%;
}

#core-cell{
    overflow-y: hidden;
    width: calc(100% - 202px);
    background: #f7f6f5;
}

#core-cell-internal{
    height: 100%;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

#navigation-cell{
    width: 200px;
    padding: 0;
}

.navigation{
    width: inherit;
}

.navigation a{
    text-align: right;
    color: #f7f6f5;
    display: block;
    padding: 6px;
    text-decoration: none;
    border-right: 2px solid #212429;
}

.navigation a:hover{
    color: #3090C7;
    border-color: #3090C7;
    cursor: pointer;
}

.navigation a.active{
    color: #3090C7;
    border-color: #3090C7;
}

.navigation-top{
    display: block;
    padding: 6px;
    height: 10px;
    border-right: 2px solid #212429;
}

.navigation-bottom {
    display: block;
    padding: 6px;
    height: 150px;
    border-right: 2px solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#212429), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(#212429, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(#212429, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(#212429, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to bottom, #212429, rgba(0, 0, 0, 0)) 1 100%;
}

.social {
    text-align: center;
    font-size: 2.5em;
    color: #f7f6f5;
    overflow: hidden;
    position: fixed;
    top: 5px;
    right: 4px;
}
.social a {
    color: inherit;
    text-decoration: none;
    float: right;
}
.social i {
    margin: .3em;
    cursor: pointer;
    transition: color 300ms ease, margin-top 300ms ease;
}
.social i:hover {
    margin-top: -1px;
    color: #3090C7;
}

.tab-content{
    display: block;
    z-index: -10;
    height: 100%;
    overflow-y: auto;
    padding: 0 20px;
}

.block-cell{
    display: block;
    float: left;
    height: 100%;
}

.portrait{
    border-radius: 50%;
    height: 110px;
    width: 110px;
}

.project{
    width: 100%;
}

.project-title{
    margin: 10px 0;
    float: left;
    width: calc(100% - 100px);
}

.project-links{
    text-align: center;
    font-size: 2.5em;
    color: inherit;
    overflow: hidden;
    float: right;
}
.project-links a {
    color: inherit;
    text-decoration: none;
    float: right;
    margin-left: 10px;
}
.project-links i {
    margin: 0;
    cursor: pointer;
    transition: color 300ms ease;
}
.project-links i:hover {
    color: #3090C7;
}

.project-banner{
    display: inline-block;
    width: calc(100% - 20px);
    padding: 0 10px;
}

.experience-banner-data{
    float: right;
}

.experience-banner{
    display: inline-block;
    width: calc(100% - 20px);
    padding: 0 10px;
}

.horizontal-separator{
    width: 100%;
    border-bottom: 2px solid #212429;
}

.horizontal-separator-margin{
    width: 100%;
    border-bottom: 2px solid #212429;
    margin: 10px 0;
}

.side-padded-div{
    margin: 0 10px 0;
    width: calc(100% - 20px);
}

.ten-zero-margin{
    margin: 10px 0;
}

.no-select {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.horizontal-block{
    width: 100%;
}